html *{
	font-family: Tahoma, Verdana, sans-serif;
}

.title-hero{
	font-size: 48px;
}

header {
	background-color: #274fee;
	color: #fff;
	padding: 6px;
	text-align: center;
    margin: 5px;
    border-radius: 6px;
    
}

aside {
	background-color: #fff;
	padding: 1em;
	width: 20%;
	float: left;
    border-style: solid;
    border-color: #274fee;
    margin: 0px 5px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    border-radius: 6px;
	z-index: 1;
}

.container{
	margin: 0px 0px 0px 360px;
}

form {
	margin-bottom: 1em;
}

input[type="text"] {
	display: block;
	margin-bottom: 0.5em;
	padding: 0.5em;
}

button[type="submit"] {
	background-color: #274fee;
	color: #fff;
	padding: 0.5em;
	border: solid;
	cursor: pointer;
}

#search-history {
	margin: auto;
	display: flex;
    flex-direction: column;
    width: max-content;
}

#current-weather .content{
    margin-bottom: 1.5px;
}

.history-btn {
	background-color: #ccc;
	color: #333;
	padding: 0.5em;
	border: none;
	cursor: pointer;
	display: block;
	margin-bottom: 0.5em;
}

.main {
	float: left;
	width: 75%;
	padding: 1em;
}

#current-weather {
	margin-bottom: 1em;
    display: inline-block;
    width: 100%;
    border-style: solid;
    border-color: #274fee;
}

#weather-icon {
	font-size: 3em;
	margin-bottom: 0.5em;
}

#forecast {
	display: flex;
	flex-wrap: wrap;
}

.is-child{
    border-style: solid;
    border-color: #274fee;
}

.user-input{
    margin: 3px;
	border-bottom-style: solid;
    border-block-color: #274fee;
}

.history-btn{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
	cursor: pointer;
}

.button-wrap{
	margin: 3px;
	cursor: pointer;
}

#error-msg{
	display: block;
	margin-bottom: 0.5em;
	padding: 0.5em;
	color: #f00909;
}